<template>
  <div class="grid-container">
    <div class="usuario">
      <usuario-component
        :user="c_user"
        :avatar="c_avatar"
        :validacionAct="c_validacion"
        @modifica-nick="actualizarNick"
        @modifica-password="actualizarPassowrd"
        @cambiar-idioma="cambiarIdioma"        
        @borrar-cuenta="borrarCuenta"
        @historico-partidas="historicoPartidas"
        @acceder-partida="accederPartida"
        @abandonar-partida="abandonarPartida"
      />
    </div>
  <div class="partidas" v-if="c_partidas != null">    
     <partida-component2
        :partidas="c_partidas"
        :user="c_user"
        @historico-partidas="historicoPartidas"
        @acceder-partida="accederPartida"
        @abandonar-partida="abandonarPartida"
      />
    </div>   
    <div class="nueva-partida">  
      <h5>Nueva partida</h5>  
        <hr>         
      <section class="radioBotonsFormPartida"> 
        <div>
          <input type="radio" v-model="formPartida" value="jugador"><span>Jugador</span>
        </div>
        <div>
          <input type="radio" v-model="formPartida" value="nivel"><span>Nivel</span>    
        </div>
        <div>    
          <input type="radio" v-model="formPartida" value="aleatorio"><span>Aleatorio</span>
        </div>
      </section>
      <form class="formNuevaPartida">
        <label for="idioma">Idioma</label>       
         <select id="idioma" name="idiomaPartida" required v-model="idiomaPartida">
             <option value="es" selected>Español</option>
             <option value="en">English</option>
         </select>
      </form>
       <form class="formNuevaPartida" v-if="formPartida=='jugador'">       
        <label for="nivel">Elige contrincante:</label>   
        <input type="search" id="search" placeholder="Search..." v-model="nombreContrincante" @click="activarLista()"/>
          <ul class="dropdown" v-if="nombreContrincante.length>2 && verListaJugadores">
            <li v-for="jugador in buscarContrincante" v-if="nombreContrincante.length>2 && verListaJugadores"  @click="select(jugador)">
                    {{ jugador.name }}
            </li>
          </ul>      
        <button @click="solicitarPartidaJugador">Buscar!</button> 
      </form>  
      <form class="formNuevaPartida" v-if="formPartida=='nivel'">    
        <label for="range">Busqueda por nivel: {{nivelJugadorPartida}}</label>
        <input type="range" id="rangeNivel" min="-4" max="4" v-model="nivelJugadorPartida">
        <button @click="solicitarPartidaNivel">Buscar!</button>      
      </form>   
      <form class="formNuevaPartida" v-if="formPartida=='aleatorio'">   
        <button @click="solicitarPartidaAleatoria">Buscar!</button>  
      </form>     
    </div> 
    <div class="estadisticas">
      <estadistica-component />
    </div>   
  </div>
</template>

<script>
import UsuarioComponent from "./UsuarioComponent";
import EstadisticaComponent from "./EstadisticaComponent";
import axios from "axios";
import PartidaComponent2 from "./PartidaComponent2";

export default {
  name: "dashboard-component",
  components: {
    UsuarioComponent,
    EstadisticaComponent, 
    PartidaComponent2, 
  },
  props: {
    user: { required: true, type: Object },
    avatar: { required: true, type: String },
  },
  data: () => ({
    c_user: null,
    c_avatar: "",
    c_validacion: null,
    c_partidas: null,
    c_listaJugadores:null,
    jugadorSeleccionado:null,
    nivelJugadorPartida:0,
    idiomaPartida:"es",
    validacion:null,
    showModal:false,
    tituloModal:'',
    mensajeModal:'', 
    nombreContrincante:'',  
    verListaJugadores:true,
    formPartida:"jugador",
  }),
  created() {
     this.listUsers();
    this.c_user = this.user;
    if (!this.avatar) this.c_avatar = "";
    else this.c_avatar = this.avatar;
    this.historicoPartidas(); 
  },

  mounted() {     
  },
  methods: {
    select(itemId){
                this.jugadorSeleccionado = itemId;
                this.nombreContrincante=itemId.name;
                this.verListaJugadores = !this.verListaJugadores;
    },
    activarLista(){
        this.verListaJugadores = true;
    },

    mostrarModal(tituloModal,mensajeModal){
      this.tituloModal=tituloModal;
      this.mensajeModal=mensajeModal;
      $('#modalPartidaNueva').modal('hide');
      this.showModal=true;
    },
    cerrarModal(){
      this.showModal=false;
    },
    actualizarNick(nick) {
      //actualizar el nick
      const promise = axios.put("/scrabble/user/update", {
        name: nick,
      });

      promise
        .then((response) => {
          console.log("Datos de usuario:", response);
          this.user.name = nick;
          //this.c_validacion = response;      
          this.c_validacion=response.data;
        })
        .catch((error) => {
          this.c_validacion=response
          console.log("ERROR: " + error.response.data);          
          console.log("ERROR: " + error.response.status);
          console.log("ERROR: " + error.response.statusText);
          console.log("ERROR: " + error.response.data);
        });
    },

    actualizarPassowrd(oldPassword, newPassword, newPassordConfirm) {
      //actualizar contraseña
      const promise = axios.put("/scrabble/user/update", {
        old_password: oldPassword,
        new_password: newPassword,
        new_password_confirmation: newPassordConfirm,
      });

      promise
        .then((response) => {
          console.log("Datos de usuario:", response);
           this.c_validacion.tipo='OK';
          this.c_validacion.mensaje=response;
           setTimeout(() => {
            window.location.replace("/scrabble/login");
          }, 2000);
        })
        .catch((error) => {
          this.c_validacion=error.response.data;
          console.log("ERROR: " + error);
          console.log("ERROR: " + error.response.status);
          console.log("ERROR: " + error.response.statusText);
          console.log("ERROR: " + error.response.data);          
                    
        })
        .then(() => {
          // siempre se ejecuta
          // uso replace para que la página actual desaparezca del historial
          // y evitar la tecla back
         
        });
    },
    cambiarIdioma(idiomaPreferido) {
      //cambia idioma segun el recibido por parametro
      const promise = axios.put("/scrabble/user/update", {
        favourite_language: idiomaPreferido,
      });

      promise
        .then((response) => {
          console.log("Datos de usuario:", response);
          this.user.favourite_language = idiomaPreferido;
          this.c_validacion = response;
        })
        .catch((error) => {
          this.c_validacion=error.response.data;
          console.log("ERROR: " + error);
        });
    },
    solicitarPartidaAleatoria() {
      // solicita recibiendo idioma y nivel

      const promise = axios.post(
        "/scrabble/challenge/request/" + this.idiomaPartida
      );
      console.log(idioma + "-" + nivel);
      promise
        .then((response) => {
          console.log("Reto creado:", response);       
    
        })
        .catch((error) => {
          console.log("ERROR: " + error);    
        });
    },
    solicitarPartidaNivel() {
      // solicita recibiendo idioma y nivel

      const promise = axios.post(
        "/scrabble/challenge/request/" + this.idiomaPartida + "/level/" + this.nivelJugadorPartida + ""
      );
      console.log(idioma + "-" + nivel);
      promise
        .then((response) => {
          console.log("Reto creado:", response);       
    
        })
        .catch((error) => {
          console.log("ERROR: " + error);    
        });
    },
    solicitarPartidaJugador() {
      // solicita recibiendo idioma y nivel
      const promise = axios.post(
        "/scrabble/challenge/request/" + this.idiomaPartida + "/against/" + this.jugadorSeleccionado + ""
      );
      promise
        .then((response) => {
          console.log("Reto creado:", response);           
        })
        .catch((error) => {
          console.log("ERROR: " + error);     
        });
    },
    borrarCuenta() {
      const promise = axios.delete("/scrabble/user/remove");
      promise
        .then((response) => {
          console.log("Eliminar cuenta:", response);
          this.c_validacion = response.data;
        })
        .catch((error) => {
          this.c_validacion = error.response.data;
          console.log("ERROR: " + error);
        })
        .then(() => {
          // siempre se ejecuta
          // uso replace para que la página actual desaparezca del historial
          // y evitar la tecla back
          setTimeout(() => {
            window.location.replace("/scrabble/login");
          }, 2000);
        });
    },
    historicoPartidas(pagina) {
      // partidas del usuario paginadas,ultimas 5
      this.c_partidas = null; //reseteaamos el objeto para que la pagina de partidas renderize de nuevo
      console.log("pagina: " + pagina);
      const promise = axios.get("/scrabble/user/games/5?page=" + pagina);
      promise
        .then((response) => {
          console.log("Partidas de usuario:", response.data);
          this.c_partidas = response.data;
        })
        .catch((error) => {
          console.log("ERROR: " + error);
        });
    },
    accederPartida(idPartida) {
      //accede a partida con ID
      const promise = axios.get("/scrabble/game/" + idPartida);
      promise
        .then((response) => {
          console.log("Acceso a partida confirmado", response.statusText);
          let url =
          location.protocol +
          "//" +
          location.hostname +
          (location.port ? ":" + location.port : "");
        window.location.href = url + "/scrabble/game/" + idPartida;
        })
        .catch((error) => {
          console.log("ERROR: " + error);
        });
    },


    abandonarPartida(idPartida) {
      //abandonar partidaa con id idPartida
      const promise = axios.get("/scrabble/game/" + idPartida + "/giveup");
      promise
        .then((response) => {
          console.log("Partida abandonada", response.statusText);
        })
        .catch((error) => {
          console.log("ERROR: " + error);
        });
    },
    listUsers() {
      // solicita la lista de jugadores
      return axios
        .get("/scrabble/search/user/live", {
          params: {
            name: this.name,
          },
        })
        .then((response) => {
          console.log("Lista usuarios: ", response);
          this.c_listaJugadores=response.data;
        })
        .catch((error) => {
          console.log("ERROR: " + error);
          
        });
    },
    
  },
  computed:{
    buscarContrincante: function () {
      return this.c_listaJugadores.filter((item)=>item.name.substr(0,3)==this.nombreContrincante.substr(0,3));
    }
  },
};
</script>

<style lang="scss" scoped>
@import "../../sass/variables";


.grid-container {
  width: 95%;
  display: grid;
  margin: 20px;
  grid-template-columns: 280px 0.5fr 1fr;
  gap: 40px 20px;
  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
    grid-template-areas:
      "usuario"
      "partidas"
      "estadisticas";

  }
  grid-template-areas:   
    "usuario partidas partidas"
    "usuario nueva-partida estadisticas";
}
.usuario {
  grid-area: usuario;
  margin-right: 20px;
}
.nuevaPartida{
  grid-area: nueva-partida;

}
.estadisticas {
  grid-area: estadisticas;

}
.partidas {
  grid-area: partidas;
  overflow-x:auto ;
  -webkit-overflow-scrolling: touch;
}
.radioBotonsFormPartida{
  display:flex;
  justify-content: space-around; 
  margin-bottom: 20px;
  span{
      font-size: 16px;
      margin-left: 5px;
  }
  
}
.formNuevaPartida{
  border-radius: 5px;
  
  label{
  }           
  button{
    background-color: $body-bg;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 8px;
    text-align: center;
    border: 1px solid transparent;
    display:block; 
  }

  input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  ul.dropdown{
    list-style-type: none;
    margin:0px 0px 5px;
    padding:5px;  
    background-color: #ffffff;
   } 
   ul.dropdown li{
     padding:5px 0px;
     &:hover{
       background-color: rgb(187, 187, 187);
    }
   }  
}

</style>