<template>
<div>
  <div class="alert alert-success mensaje" role="alert" v-show="this.showAlert">
     {{ message }}
  </div> 
</div>
</template>
<script>

export default { 
  name: "prueba-component",
  
  components: {      

  },
  props: {          
       message: { required: true, type: null },
       showAlert: {required:true,type:Boolean},
  },
  data: () => ({  
     
  }),
  created(){  
  
  },
  mounted() {
      console.log("Prueba montado.")

  },
  watch: {
    showAlert: {
      immediate: true,
      handler(showAlert) {
        if(showAlert){
            setTimeout(() =>  this.$emit('oculta-alert'), 5000);         
        }else{
        }
      }
    }
},

  
};
</script>
<style lang="scss" scoped>
  .mensaje{
    margin-top:5px;
  }
</style>
