<template>
<div>
   <h5 class="text-center">Estadísticas</h5>
    <hr>
  <div class="grid-container">
    <div class="Graficas">      
      <pie-chart v-if="estadistica!=null" :title="'Partidas Ganadas vs Perdidas'" 
                :dataSeries="crearArrayDatos(estadistica)">
      </pie-chart>
    </div>
    <div class="Cards">  
      <div class="deck">
        <div class="card" >
          <div class="head-card">      
            <h3>Nivel</h3>   
          </div>
          <div class="body-card"> 
            <div class="estadistica" v-for="(est,index) in estadistica">
              {{est.level}}
              <pais-component :pais="est.language_code"/>
              </div>  
          </div>
          <div class="footer-card">
            <i class="fa fa-medal"></i>
          </div>
        </div>  
        <div class="card" >
          <div class="head-card">       
            <h3>Mejor palabra</h3>
          </div>
          <div class="body-card"> 
            <div class="estadistica" v-for="(est,index) in estadistica">
              {{est.most_valuable_word}}
              <pais-component v-if="est.most_valuable_word!=''" :pais="est.language_code"/>     
            </div>                     
          </div>
          <div class="footer-card">
            <i class="fa fa-trophy"></i>
          </div>
        </div>  
         <div class="card" >
          <div class="head-card">       
            <h3>Puntos palabra más valiosa</h3>
          </div>
          <div class="body-card"> 
            <div class="estadistica" v-for="(est,index) in estadistica">
              {{est.most_valuable_word_points}}
              <pais-component :pais="est.language_code"/>     
            </div>                     
          </div>
          <div class="footer-card">
            <i class="fas fa-chess-queen"></i>
          </div>          
        </div>
    </div>
  </div>
</div>
 
</div>
</template>
<script>

import PaisComponent from './PaisComponent';
import {Chart} from 'highcharts-vue';

import PieChart from './PieChart';
export default { 
  name: "estadistica-component",
  components: {      
      PaisComponent,    
      PieChart,
  },
  props: {           
  },
  data: () => ({
      estadistica:null,  
  }),

  created(){  
         this.estadisticasUsuario();
  },
  mounted() {
      console.log("EstadisticaComponent montado.")   
  },
  methods: {
      estadisticasUsuario(){
        // estadísiticas via AJAX
        const promise = axios.get("/scrabble/user/statistics");
        var ganadas=0;
        let perdidas=0;
        promise
          .then((response) => {
            console.log("Estadísticas:", response.data);
            this.estadistica=response.data            
            for (var est in response.data) {                     
              ganadas=ganadas+response.data[est].won;   
              perdidas=perdidas+response.data[est].lost;         
            }
           // this.dataSeries=[["Ganadas",ganadas],["Perdidas",perdidas]];
        })
        .catch((error) => {
          console.log("ERROR: " + error);        
        });
              
    },
      crearArrayDatos: function(est){
        var ganadas=0;
        var perdidas=0; 
        var  data=null;   
        console.log(est);
          for (var i in est) {              
              ganadas=ganadas+est[i].won;   
              perdidas=perdidas+est[i].lost;         
            }
            data=[
              ["Ganadas",ganadas],
              ["Perdidas",perdidas]
              ];
            console.log(data);
        return data;
      }
  },
};
</script>

<!-- el estilo lo implemento en scss -->
<!-- además, para ganar en reusabilidad y evitar conflictos, hago que las clases
     sólo tengan validez en el componente -->
<style lang="scss" scoped>
@import "../../sass/variables";
.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px; 
  grid-template-areas:
    "Graficas Cards";
  @media (max-width: 800px) {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "Graficas"
    "Cards";
    gap: 10px 0px;
  }
}
.Graficas { grid-area: Graficas; }
.Cards { grid-area: Cards; }


.deck {
  display: grid;
  grid-template-columns: repeat(auto-fill,200px);
  grid-gap: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 0, 0, 0);
  border:none;
  justify-items: center;
  @media (max-width: 680px) {
    grid-template-columns: 1fr;
  }
}

.card {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5%;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.head-card{
  height: 100px;
}
.body-card {
  height: 100px;
  .estadistica{
    display: inline-block;
    margin-right: 10px;
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
  }
}

.footer-card i {
  font-size: 28px;
  line-height: 50px;
  height: 60px;
  width: 60px;
  border: 6px solid white;
  border-radius: 50%;
  background-color: $button-color;
  text-align: center;
  color: white;
}


</style>
