<template>
<div class="flag">
    <img :src="image"> 
</div>
</template>

<script>

export default { 
  name: "pais-component",
  components: {      

  },
  props: {       
       pais: { required: true, type: String },
  },
  data: () => ({  
      image:"",

  }),
  computed:{
      paisMinuscula:function(){
            return this.pais.toLowerCase();
      },
  },
  created(){
      this.imagen()
  },
  mounted() {
      console.log("PaisComponent montado.")

  },
  methods: {
      imagen(){
            this.image="/img/flags/"+this.pais+".svg";
      },
  },
};
</script>

<!-- el estilo lo implemento en scss -->
<!-- además, para ganar en reusabilidad y evitar conflictos, hago que las clases
     sólo tengan validez en el componente -->
<style lang="scss" scoped>
.flag{
    display: inline-block;
    width: 20px;
    height: 20px;
    img{
        width: 20px;
        border-radius: 50%;  
    }
    }
    
</style>
