<template>
  <div>     
    <h5 class="text-center">Partidas activas</h5>
    <hr>     
      <div class="grid-container">        
            <div class="cardPartida" v-for="partida in partidasEnJuego" @click="$emit('acceder-partida',partida.id)">   
                <div v-bind:class="getClaseCard(partida)"></div> 
                <div class="cardTop">
                  <div class="cardAvatar">
                      <div class="imgAvatar">                 
                        <img :src=getAvatarContrincante(partida) />
                      </div>
                  </div>
                  <div class="cardInfo">
                    <span class="name">{{getContrincante(partida)}}</span>
                    <span class="score">{{getScore(partida)}}</span>             
                  </div>
                </div>
              <div class="cardTime">        
                <span>Hace {{ partida.updated_at  | diasHastaHoy  }} días</span>                
              </div>  
              <div class="botonera">
                 <span class="idioma"><pais-component :pais="partida.language"/></span>
                 <button @click="$emit('abandonar-partida',partida.id)"><i class="fas fa-door-open"></i></button> 
              </div>    
              <div class="cardTurno">
                <span class="turno">{{getTurno(partida)}}</span>
              </div>
            </div>      
   </div>
  </div>
</template>
<script>
import PaisComponent from "./PaisComponent";

export default {
  name: "partida-component2",
  components: {
    PaisComponent,
  },
  props: { 
    partidas: { required: true, type: Object },
    user: { required: true, type: Object },
  },
  data: () => ({
    game: null,
    pagPartidas: [],
    paginas: [],
    partidasEnJuego: [],
    partidasTermindas: [],
    miTurno:true,
  }),
  
  mounted() {
    console.log("PartidaComponent montado.");
    //Cargamos la pagina de partida activaa
    this.pagPartidas = this.partidas.data;
    //Cargamos las paginas paraa los botones de paginaacion
    this.paginas = this.partidas.links;
    this.paginarPartidas();
  },
  created() {},
  filters: {
    diasHastaHoy: function(fecha){
      //console.log(fecha);
      //Obtenemos la fecha de hoy y la pasamos a milisegundos
       var fechaHoyMilisegundos=(new Date()).getTime();
       //Lo mismo para la fecha pasada por parametro
       var fechaParametroMilisegundos= (new Date(fecha)).getTime();
      // Obtener la diferencia en milisegundos entre ambas fechas    
       var dif = fechaHoyMilisegundos - fechaParametroMilisegundos;   
       //Dividir para obtener los dias
       var dias = Math.trunc(dif / 86400000);
       return dias;     
    }
  },
  methods: {
    paginarPartidas() {
      // partidas del usuario
      const promise = axios.get("/scrabble/user/games/5");
      var links = [];
      promise
        .then((response) => {
          //Obtenemos las paginas  y las recorremos
          console.log("Array partidas: " + response.data);
          links = response.data.links;
        //  console.log(links.length);
          for (var link in links) {
            if (!isNaN(links[link].label)) {
              //comprobamos si el label contiene un numero de pagina y no es el next o el previous y llamamos a la funcion historicoPartidas
             // console.log("Enviamos link pagina: " + links[link].label);
              this.historicoPartidas(links[link].label);
            }
          }
        })
        .catch((error) => {
          console.log("ERROR: " + error);
        });
    },
    historicoPartidas(pagina) {
      // partidas del usuario en determinada pagina
      const promise = axios.get("/scrabble/user/games/5?page=" + pagina);
      promise
        .then((response) => {
          console.log("Partidas de usuario en pagina:" + pagina, response.data);
          this.clasificarPartidas(response.data.data);
        })
        .catch((error) => {
          console.log("ERROR: " + error);
        });
    },
    clasificarPartidas(partidas) {
      var partida = null;
      for (partida in partidas) {
        if (
          partidas[partida].state.includes("turn") ||
          partidas[partida].state.includes("unstarted")
        ) {
          this.partidasEnJuego.push(partidas[partida]);
        } else {
          this.partidasTermindas.push(partidas[partida]);
        }
      }
    },
    getClaseCard(partida){
      var turno=this.getTurno(partida);
      if(turno=="Tu turno"){
          return 'backgroundAnimated';
      }
      else{
          return 'backgroundAnimated2';
      }    
         
    },
      
    
    getTurno: function (partida) {
      var turno = "";
      switch (partida.state) {
        case "turn_p1":
          if (partida.player1.id == this.user.id) {
            turno = "Tu turno";
            this.miTurno=true;
          } else {
            turno = "Su turno";
            this.miTurno=false;
          }
          break;
        case "turn_p2":
          if (partida.player2.id == this.user.id) {
            turno = "Tu turno";
            this.miTurno=true;
          } else {
            turno = "Su turno";
            this.miTurno=false;
          }
          break;
        case "unstarted":
          turno = "No empezada";
          this.miTurno=true;
          break;
      }
      return turno;
    },
    getContrincante: function (partida) {
      var contrincante = "";
      if (partida.player1.id == this.user.id) {
            contrincante = partida.player2.name;
          } else {
            contrincante = partida.player1.name;
          }
      return contrincante;
    },
     getAvatarContrincante: function (partida) {
      var avatar = "";
      if (partida.player1.id == this.user.id) {
            avatar = partida.player2.avatar;
          } else {
            avatar = partida.player1.avatar;
          }
        if(avatar==null) {
            avatar="/img/imagen-scrabble.jpeg";
        }
      return avatar;
    },
    getScore: function (partida) {
      var puntosUsuario = 0;
      var puntosContrincante=0;
      var puntuacion="";
      if (partida.player1.id == this.user.id) {
            puntosUsuario = partida.player_1_score;
            puntosContrincante= partida.player_2_score;
          } else {
            puntosUsuario = partida.player_2_score;
            puntosContrincante= partida.player_1_score;
          }
      puntuacion=puntosUsuario + "-" + puntosContrincante;
      return puntuacion;
    },    
  },
};
</script>

<style lang="scss" scoped>
@import "../../sass/variables";


.grid-container{
  display: grid;  
  grid-auto-flow: column;
  grid-auto-columns: 115px;
  column-gap: 20px;
}
.cardPartida{
  width: 115px;
  height: 115px;  
  border-radius: 10%; 
  font-weight: 800;  
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer; 
  .cardTop{
    width: 110px;
    height: 35px;
    margin: 5px;  
  }
  .cardAvatar{
    width: 35px; 
   
    margin-right:6px; 
    float:left; 
    .imgAvatar{                  
      img{     
        width: 35px;
        height: 35px;
        border-radius: 50%;   
      }
    }
  }
  .cardInfo{
    width: 57px;  
    text-align: center;   
    float: left;
    white-space: nowrap;
    text-overflow:".";
    overflow: hidden;
    span.name {  
       font-size: 12px;
      display: block;   
    }
    span.score{   
       font-size: 14px;
      display: block;    
    }    
  }
  .cardTime{
    height: 24px;
    text-align: center;
    
  }
  .botonera{
     height: 20px;
      button{
            background-color: $body-bg;          
            font-size: 12px;
            color: white;
            border-radius: 50%;
            padding: 2px 4px;
            text-align: center;
            border: 0px solid transparent;
            display:block; 
            float:right;
            margin-right: 6px;   
            cursor: pointer;                 
          }
      span.idioma{
        float:left;
        margin-left:6px;
      
      }
  }
  
  .cardTurno{
    position:absolute;
    width: 100%;
    height: 20px;    
    bottom:0px;
    right:0px;    
    background-color: #9e9b9b;
    text-align: center; 
    span.turno{
      display: block;  
      color:white
      ;
    }
  }

}
.backgroundAnimated {
  position: absolute;
  display: block;
  top: -50%;
  left: -50%;
  z-index: -9;  
  height: 200%;
  width: 200%;
  transform: rotate(-45deg);
  overflow: hidden;
  background: linear-gradient(to right, #fff 20%, #fff 40%, #ffad03 50%, #ffad03 55%, #fff 70%, #fff 100%);
  background-size: 200% auto;  
  animation: shine 3s linear infinite;
}
.backgroundAnimated2 {
  position: absolute;
  display: block;
  top: -50%;
  left: -50%;
  z-index: -9;  
  height: 200%;
  width: 200%;
  transform: rotate(-45deg);
  overflow: hidden;
  background: linear-gradient(to right, #fff 20%, #fff 40%, $button-color 50%, $button-color 55%, #fff 70%, #fff 100%);
  background-size: 200% auto;  
  animation: shine 3s linear infinite;
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }

</style>
