<template>
     <div>                
        <highcharts :options="chartOptions" ></highcharts>
    </div>
</template>
<script>

import HighchartsVue from 'highcharts-vue';
Vue.use(HighchartsVue);
import {Chart} from 'highcharts-vue';
export default {
  name: "pie-chart",
  components: {
    HighchartsVue,
    highcharts: Chart 
  },
  props: {   
       title: { required: true, type: String },
       dataSeries: {required:true, type: Array}
  },
  
  data() {
    return {      
           
            options: ['spline', 'line', 'bar', 'pie'], 
            modo: 'pie',          
            series: [
                        {
                          name:"Cantidad",                        
                          data: this.dataSeries
                        },                       
                        ],        
    }
  },
  mounted() {},
  computed: {
        chartOptions() { 
            return {
                    chart: {  
                      type: this.modo, 
                      plotBackgroundColor: null,
                      plotBorderWidth: null,
                      plotShadow: false,
                    },
                    title: {  
                      text: this.title  
                    },
                    accessibility: {
                        point: {
                          valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                      pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                          enabled: true,
                          format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        },
                        colors: ['#5bd7d7','#343A40'],
                      }
                    },
                    series: this.series,
              }
        },
    },
  methods: {}
};
</script>
