<template>
  <div class="usuario">
    <div class="infoUsuario">
      <div class="avatar">
        <upload-image-component
          :image="avatar"
          @avatar-change="onAvatarChange"
        />
      </div>
      <div class="info">
        <h1>{{ user.name }}</h1>
        <div>
          E-mail: <a :href="'mailto:' + user.email">{{ user.email }}</a>
        </div>
        <div>País: <pais-component :pais="user.country.toLowerCase()" /> </div>
        <div>Idioma favorito: <pais-component :pais="user.favourite_language" /> </div>                   
        <error-component v-if="validacionAct != null" :message="validacionAct" :showAlert="showAlert" @oculta-alert="ocultaAlert"></error-component>
      </div>
      <div class="botonera">
        <button type="button" class="boton" @click="activaFormsEdit">
          <span class="fa fa-pencil-alt"></span>
        </button>
        <button type="button" class="boton" @click="borrarCuentaAlert" style="background-color:#ff5733">
          <span class="fa fa-trash"></span>          
        </button>  
      </div>
    </div>       
      <div v-if="modificarNick" class="modificar">        
        <form class="form1">
          <h5>Cambia tu nick</h5>
          <input
            type="text"
            class="form-control"
            id="InputNick"
            aria-describedby="emailHelp"
            placeholder="Introduce nick"
            v-model="nick"
          />
          <button
            type="button"
            class="btn boton"
            @click="cambiaNick"
          >
            Guardar
          </button>
        </form>
      </div>
      <div v-if="modificarPassword" class="modificar">
        <form class="form1">
          <h5>Cambiar contraseña</h5>
          <input
            type="password"
            class="form-control"
            id="inputOldPassword"
            placeholder="Introduzca contraseña actual"
            v-model="oldPassword"
            activaFormsEdit
          />
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Introduzca nueva contraseña"
            v-model="password"
          />
          <input
            type="password"
            class="form-control"
            id="inputPassword-confirm"
            placeholder="Cofirme contraseña"
            v-model="passwordConfirm"
            activaFormsEdit
          />
          <button
            type="button"
            class="btn boton"
            @click="cambiaPassword"
          >
            Guardar
          </button>
        </form>

      </div>
      <div v-if="cambiarIdioma" class="modificar">
        <form class="form1">
          <h5>Cambia tu idioma preferido</h5>          
          <select id="idioma" name="idioma" required v-model="idiomaPreferido">
            <option value="es" selected>Español</option>
            <option value="en">English</option>
          </select>
          <button
            type="button"
            class="btn boton"
            @click="cambiaIdioma"
          >
            Guardar
          </button>
        </form>
      </div>   
         
    </div>

  </div>
  
</template>

<script>
import UploadImageComponent from "./UploadImageComponent";
import PaisComponent from "./PaisComponent";
import ErrorComponent from "./ErrorComponent";

export default {
  name: "usuario-component",
  components: {
    UploadImageComponent,
    PaisComponent,

    ErrorComponent,
  },
  props: {
    user: { required: true, type: Object },
    avatar: { required: true, type: String },
    validacionAct: { required: false, type: null },
  },
  data: () => ({
    modificarNick: false,
    nick: "",
    modificarPassword: false,
    oldPassword: "",
    password: "",
    passwordConfirm: "",
    solicitarPartida: false,
    idiomaPartida: "",
    nivelPartida: 0,
    cambiarIdioma: false,
    idiomaPreferido: "",
    borrarCuenta: false,
    showAlert:false,
  }),  
  watch: {
      validacionAct(newValue, oldValue) {    
          this.showAlert=true;    
      }
  },
  mounted() {
    console.log("UsuarioComponent montado.");
  },
  methods: {
    onAvatarChange(image) {
      this.$emit("avatar-change", image);
    },
    activaFormsEdit: function (event) {
      this.modificarNick = !this.modificarNick;
      this.modificarPassword = !this.modificarPassword;
      this.cambiarIdioma = !this.cambiarIdioma;
    },
    borrarCuentaAlert(){
      var mensaje;
      var opcion = confirm("Estas seguro/a de borrar la cuenta?");
        if (opcion == true) {
            this.$emit('borrar-cuenta');
      } else {   
      }
    },
    ocultaAlert(){
        this.showAlert=false;
    },  
    cambiaNick(){
        this.$emit('modifica-nick', this.nick);
        
    },
    cambiaPassword(){
        this.$emit('modifica-password', this.oldPassword, this.password, this.passwordConfirm);
      
    },
    cambiaIdioma(){
      this.$emit('cambiar-idioma', this.idiomaPreferido);
   
    },
 
  },
};
</script>

<!-- el estilo lo implemento en scss -->
<!-- además, para ganar en reusabilidad y evitar conflictos, hago que las clases
     sólo tengan validez en el componente -->
<style lang="scss" scoped>
@import "../../sass/variables";
.usuario {
  background-color: #343a40;
  padding: 10px;
  .boton { 
    background-color: $button-color;
    font-size: 14px;    
    color: black;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 8px;
    text-align: center;
    border: 1px solid transparent;
    display:inline-block; 
  }
}
.infoUsuario {
  display: grid;
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "avatar"
    "info"
    "botonera";
  .avatar {   
    grid-area: avatar;  
     align-self: center;
     justify-self: center;  
  }
  .info {
    color: #fff;
    grid-area: info;
    h1 {
      font-size: 2em;
      font-weight: 100;    
      padding-bot:4px;
    }
    div {
      font-size: 1.2em;    
      padding-top:2px;
      padding-bot:2px;
    }
    
  }
  .botonera{
    grid-area: botonera;
  }
}
.modificar {
  background-color: #fff;
  margin: 0px auto;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 15px;
  .form1 {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: 5px;
    label {
      grid-column: labels;
      grid-row: auto;
    }
    span,
    input,
    select,
    button,
    h5 {
      grid-column: controls;
      grid-row: auto;
    }
    select {
      height: 2em;
    }
  }
}
</style>
