@charset "UTF-8";

.noEncontrada {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 30% 1fr;
  /*Para pantallas pequeñas ampliamos la lista izq*/
}

.noEncontrada .izq {
  grid-column: 1/2;
}

.noEncontrada .der {
  grid-column: 2/3;
}

@media (max-width: 800px) {
  .noEncontrada .izq {
    grid-column: 1/3;
  }
}

.scrabble404 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid #CBF3D7;
  background-color: #51A476;
}

.scrabble404 div {
  border: 2px solid #CBF3D7;
}

@media (max-width: 800px) {
  .scrabble404 {
    display: none;
  }
}

#listaLinks ul {
  list-style: none;
}

#listaLinks ul li:hover {
  background-color: #51A476;
}

#listaLinks ul li a {
  text-decoration: none;
  color: black;
}

.ficha {
  background-color: #FFD791;
  text-align: center;
  font-size: 48px;
  /*animation: animacionColocar infinite 3s linear; */
}

.ficha span > sub {
  font-size: 24px;
}

/*
.scrabble404  div[class="ficha"]{
   animation-delay: 2s; 
}
 @keyframes animacionColocar {
   0% {}
   50% {}
   100% {background-color: #FFD791;
       color:black;        
   }  */

/*Para pantallas pequeñas ocultamos el tablero scrabble*/

