@charset "UTF-8";

/* css cabecera */

.navbar {
  margin-bottom: 20px;
}

.contenido {
  min-height: calc(100vh-150px);
}

.infoUsuario {
  color: white;
}

/* css footer */

.footer {
  position: relative;
  margin-top: 50px;
  /* negative value of footer height */
}

.card {
  border: 0;
}

.card img {
  width: 12rem;
  height: 12rem;
  border: silver 1px solid;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  text-align: center;
}

.card-footer {
  border: 0;
  background-color: #fff;
}

/* Si el ancho de mantalla esta por debajo de 800px ocultaremos el texto de las cards para mostrar solo el circulo de la imagen */

@media (min-width: 800px) {
  /* .smartphoneCards {
        display: none;
    } */
}

@media (max-width: 800px) {
  .card-body {
    display: none;
  }

  .card-footer {
    display: none;
  }

  .card {
    margin-bottom: 10px;
  }
}

.imagen {
  width: 220px;
  height: 220px;
  -o-object-fit: none;
     object-fit: none;
}

.imagen:hover {
  filter: brightness(50%);
}

#fundidor {
  -o-object-position: 80% 20%;
     object-position: 80% 20%;
}

#tiposMov {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

#tiposMov2 {
  -o-object-position: 70% 28%;
     object-position: 70% 28%;
}

#componedor {
  -o-object-position: 93% 58%;
     object-position: 93% 58%;
}

#entintador {
  -o-object-position: 27% 41%;
     object-position: 27% 41%;
}

#tirador {
  -o-object-position: 15% 48%;
     object-position: 15% 48%;
}

/* css para que al pasar sobre la imagen dentro del contenedorImagen haga zoom */

.contenedorImagen {
  overflow: hidden;
  /* esta propiedad evita que la imagen ocupe mas espacio que su contenedor */
  width: 100%;
  border: 5px solid #fff;
  box-sizing: border-box;
  float: left;
}

.contenedorImagen img {
  transition: all 0.4s ease;
  width: 100%;
}

.contenedorImagen img:hover {
  transform: scale(1.5);
  /* cuando nos posicionamos sobre la imagen con esta propiedad aumentamos su escala y ademas la giramos */
  opacity: 0.6;
}

.contenedor {
  margin: 100px auto;
  max-width: 960px;
  width: 100%;
}

/* Css para imagenes con texto, posicion izquierda */

.imgIzq {
  width: 12rem;
  float: left;
  margin-right: 10px;
}

/* CSS para modal de imagenes */

.modal-footer {
  border-radius: 8px;
  width: 100%;
  color: black;
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.81);
  bottom: 0;
  text-align: center;
  font-size: 18px;
}

/* Fin css para modal de imagenes */

/* Galeria de imagenes lugares emblematicos */

@media (min-width: 800px) {
  .gallery {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-width: 33%;
         column-width: 33%;
  }
}

@media (max-width: 800px) {
  .gallery {
    -moz-column-count: 1;
         column-count: 1;
    -moz-column-width: 100%;
         column-width: 100%;
  }
}

.pic {
  position: relative;
}

.pic:hover .info {
  display: block;
}

.info {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
}

.info p {
  font-size: 14px;
}

/* Fin css Gale De regreso a Maguncia, formó una nueva sociedad con Johann Fust, quien le da un préstamo con el que,<b> en 1449, publicó el Misal de Constanza, primer libro
            tipográfico del mundo occidental</b>. Recientes publicaciones, en cambio, aseguran que este misal no pudo imprimirse antes de 1473 debido a la confección de su
        papel, por lo que no debió ser obra de Gutenberg. En 1452, Gutenberg da comienzo a la edición de la Biblia de 42 líneas (también conocida como Biblia de
        Gutenberg). En 1455, Gutenberg carecía de solvencia económica para devolver el préstamo que le había concedido Fust, por lo que se disolvió la unión y
        Gutenberg se vio en la penuria (incluso tuvo que difundir el secreto de montar imprentas para poder subsistir).Johannes Gutenberg murió arruinado en Maguncia, Alemania el 3 de febrero de
        1468. A pesar de la oscuridad de sus últimos años de vida, siempre será reconocido como el inventor de la imprenta moderna.ria de imagenes lugares emblematicos */

/* Animaciones para apartado difusion imprenta */

.listaMapa > a {
  -webkit-animation: moverLista 24s infinite ease-in-out;
          animation: moverLista 24s infinite ease-in-out;
}

.listaMapa > a:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.listaMapa > a:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.listaMapa > a:nth-child(4) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.listaMapa > a:nth-child(5) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.listaMapa > a:nth-child(6) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes moverLista {
  20%, 100% {
    background-color: #b8babd;
    color: black;
  }

  0% {
    background-color: #b8babd;
    color: black;
  }

  10% {
    background-color: black;
    color: white;
  }
}

@keyframes moverLista {
  20%, 100% {
    background-color: #b8babd;
    color: black;
  }

  0% {
    background-color: #b8babd;
    color: black;
  }

  10% {
    background-color: black;
    color: white;
  }
}

/* Superponemos todas las imagenes */

.imagenMapa {
  position: absolute;
  opacity: 0;
}

.imagenesMapa > img {
  -webkit-animation: mostrarImagen 24s infinite ease-in-out;
          animation: mostrarImagen 24s infinite ease-in-out;
}

.imagenesMapa > img:nth-child(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.imagenesMapa > img:nth-child(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.imagenesMapa > img:nth-child(4) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.imagenesMapa > img:nth-child(5) {
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

.imagenesMapa > img:nth-child(6) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes mostrarImagen {
  20%, 100% {
    opacity: 0;
  }

  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
}

@keyframes mostrarImagen {
  20%, 100% {
    opacity: 0;
  }

  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
}

