.contenedorForm {
  position: relative;
  width: 200px;
  height: 300px;
  left: calc(50vw - (200px/2));
  top: calc(30vh - (300px/2));
}

.login {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: stretch;
}

.cabeceraLogin {
  grid-row: 1/2;
  width: calc(100% - 40px);
  margin-left: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  background-color: #5bd7d7;
  align-self: end;
}

.cabeceraLogin h1 {
  font-size: 40px;
  font-weight: 900;
}

.form {
  grid-row: 2/2;
  background-color: #343A40;
  padding: 20px;
  color: white;
  border-radius: 20px;
  align-self: start;
}

.form form {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
}

.form label {
  grid-column: 1/2;
}

.form input,
.form select {
  grid-column: 2/3;
  border: 1px solid lightgray;
  border-radius: 20px;
  color: black;
  background-color: #aeaeae;
  padding-left: 15px;
  height: 30px;
}

.form button {
  margin-top: 15px;
  grid-column: 1/3;
  justify-self: center;
  background-color: #5bd7d7;
  border: 0px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}

.form a {
  grid-column: 1/3;
  justify-self: center;
  font-weight: 800;
  color: #fff;
}

