.form {
  position: relative;
  --anchoForm: 500px;
  width: var(--anchoForm);
  left: calc(50vw - (var(--anchoForm))/2);
  background-color: #fff;
  padding: 20px;
}

.form form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
}

.form label {
  grid-column: 1/2;
}

.form input,
.form select {
  grid-column: 2/3;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding-left: 15px;
}

.form button {
  grid-column: 1/3;
  justify-self: center;
  background-color: #00c851;
  border: 0px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}

.form .smallError {
  grid-column: 2/3;
  font-size: smaller;
  color: Red;
}

