@import "variables";
$anchoForm:200px !default;
$altoForm:300px !default;

.contenedorForm{ 
    position: relative;
    width: $anchoForm;
    height: $altoForm;   
    left: calc(50vw - (#{$anchoForm}/2));
    top: calc(30vh - (#{$altoForm}/2)); 
}
.login{    
    display: grid;
    height: 100%; 
    width: 100%;  
    grid-template-rows: 1fr 1fr;     
    grid-template-columns: 1fr;   
    justify-content: stretch;
          
}

.cabeceraLogin{
    grid-row: 1/2;
    width: calc(100% - 40px);
    margin-left: 20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;  
    h1{
        font-size: 40px;
        font-weight: 900;
    }
    text-align: center;
    background-color:  $button-color ; 
    align-self: end;  
}
.form {     
    grid-row: 2/2;
    background-color: #343A40; 
    padding: 20px; 
    color: white;
    border-radius:20px;  
    align-self: start;    
    form{
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-column-gap: 10px;  
        grid-row-gap: 10px;  
        justify-content: center;
    }
    label{
        grid-column: 1 / 2;           
    }
    input,select  {
        grid-column: 2 / 3;
        border:1px solid lightgray{            
            radius:20px;
        }
        color: black;
        background-color:#aeaeae;
        padding-left: 15px;
       
        height: 30px;
        
    }
    
    button {
        margin-top: 15px;
        grid-column: 1 / 3;
        justify-self: center;
        background-color: $button-color ;
        border: 0px;
        border-radius: 5px;
        width: 200px;
        height: 50px;
       
    }  


    a{
    
        grid-column: 1 / 3;
        justify-self: center;
        font-weight: 800;
        color: #fff;
    }
}



