/* // Variables
@import "variables";

main {
    max-width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1.5fr 6fr;
}

.form {
    padding-right: 2em;
}

.error {
    background: rgb(136, 50, 50);
    grid-column: 1 / -1;

    div {
        margin: 10px 50px;
        float: left;
    }
}

.informacion {
    grid-column: 1 / -1;
    background: rgb(30, 136, 50);
}
 */


.form {
    
    form{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
    }
    label{
        grid-column: 1 / 2;
    }
    input,button {
        grid-column: 2 / 3;
    }
   
}

